.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#nav-bar{
  background-color: black;
  color: white;
  text-align: center;
}

a:hover{
  color:coral !important;
}

button:hover{
  color: coral !important;
  border-color: coral !important;
  background-color: black !important;
}

p{
  font-size: 1.5rem;
}

#ship-container{
  display: grid;
  grid-template-columns: 1fr;
}

#card{
  background-color: grey;
}

@media only screen and (min-width: 450px) {
  #ship-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


@media only screen and (min-width: 700px) {
  #ship-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1000px) {
  #ship-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}